.footer {
height: 100vh;
color: white;
background: #111111;
display: flex;
justify-content: space-between;
font-family: poppins;
padding: 5% 14%;
width: 100%;
box-sizing: border-box;
}

.contactElement {
    padding: 5% 0;
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.contactElement h2 {
    margin-block-start: 0;
    width: 100%;
}

.contactElements {
padding: 15% 20% 0 0;
font-size: 0.8em;
}

.registerElement {

    padding: 5% 0;

    display: flex;

    width: 50%;

    flex-wrap: wrap;

    justify-content: space-between;

    font-size: 0.9em;
}

.registerElement h2 {

    margin-top: 0;

    width: 100%;

    text-align: center;
}

.registerContact {

    width: 50%;

    text-align: center;
}

body {
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.hamburger {
}

.hamburgerLines {
    background: white;
    z-index: -1;
}