body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-color: #fafafa;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.aboutBody {
    padding-bottom: 8%;
}

.landingContainer {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/adult-blur-book-business-261651.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
}

.landingBack {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(25px) opacity(0.1);
    background: white;
}

.landingBodyContainer {
    text-align: center;
    font-family: poppins, serif;
    margin: 13% 0 10%;
    z-index: 2;
}

.landingHeading {
    font-family: Poppins-Bold, serif;
    font-size: 4em;
    text-transform: uppercase;
}

.landingSubHeading {
    font-size: 1.7em;
    font-family: Poppins-Bold, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decoLine {
    width: 60px;
    height: 5px;
    border-radius: 50px;
    background: black;
    margin: 0 11px;
}

.resultContainer {
    background: #F2CF19 0% 0%;
    margin: 6% 31%;
    padding: 10px;
    box-shadow: 0px 8px 12px #1A1A1A29;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.1s;
}

.resultContainer:hover {
    transform: scale(1.1);
}

.resultContainer:active {
    transform: scale(1);
    transition: 0s;
}

.landingFooter {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-family: poppins, serif;
    padding: 0 10%;
    z-index: 2;
}

.landingFooterElements {
    cursor: pointer;
}

.landingFooterElements::after {
    content: '';
    display: block;
    height: 2px;
    background: black;
    width: 0%;
    transition: 0.2s;
    margin-left: 50%;
}

.landingFooterElements:hover:after {
    content: '';
    display: block;
    height: 2px;
    background: black;
    width: 100%;
    margin-left: 0;
}

.button {
    margin: auto;
    padding: 10px 20px;
    background: #F2CF19;
    border-radius: 4px;
    font-weight: bold;
}

.background {
    overflow: visible;
    position: absolute;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    /* z-index: -1; */
    /* left: 0; */
    /* padding-left: 16%; */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.testimonialContainer {
    z-index: 2;
}

.faqContainer {
    z-index: 1;
}