.navHeader {
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 30px 50px;
}

.hamburger {
    display: flex;
    width: 32px;
    flex-direction: column;
    cursor: pointer;
    overflow: visible;
}

.hamburgerLines {
    height: 4px;
    background: black;
    border-radius: 2px;
    margin: 2px;
    transition: 0.2s;
}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    padding: 10%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33%;
    height: 100%;
    /* z-index: 1; */
    transform: translateX(-100%);
    transition: 0.2s;
    z-index: 99;
}

.navElements {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: poppins, serif;
}