.landingContainer {
    font-family: Poppins;
    /* display: flex; */
    padding: 8% 11% 5%;
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden;
    box-sizing: border-box;
}

h2 {
    margin-left: 11%;
    font-size: 1.2em;
}

.landingContainer h1 {

    font-family: poppins-bold;

    font-size: 2.5em;
}

.landingContainer h2 {

    margin-left: 0;

    font-size: 1.5em;
}

.landingContainer p {

}

.hmvContainer {

    font-family: poppins;

    display: flex;

    padding: 4% 6%;

    font-size: 1.1em;

    color: #616161;
}

.hmvElements {

    padding: 5%;
}

.hmvElements h1 {

    margin: 0;

    color: #4D4D4D;
}

.hmvElements h2 {

    margin: 0;

    color: #3E3E3E;
}

.hmvElements h2::after {
    content: '';
    width: 30px;
    height: 5px;
    background: #3E3E3E;
    display: block;
    border-radius: 2.5px;
    margin-bottom: 6%;
}

.detailsContainer {
    font-family: Poppins;
    text-align: center;
    padding: 0 12%;
}

.detailsContainer h1 {

}

.detailsContainer p {

    margin-bottom: 5%;

    color: #616161;
}

.socialMedia {

    display: flex;

    justify-content: center;
}

.socialElements {

    width: 50px;

    height: 50px;

    border: 1px solid black;

    margin: 1%;
}

.imageP {
    position: absolute;
    left: 57%;
    top: 46%;
}

.patterContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 11% 11%;
    font-family: poppins;
    height: 100vh;
    box-sizing: border-box;
    align-items: flex-start;
}

.patterContainer h3 {
    width: 100%;
    margin-bottom: 0;
}

.round {
    width: 50%;
    height: 100%;
    padding: 0 5% 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.round h1 {

}

.roundText {

    margin-bottom: auto;
}

.button {

    background: #F2CF19;

    width: fit-content;

    display: flex;

    justify-content: center;

    padding: 1.5% 3.5%;

    font-size: 1.2em;

    font-weight: bolder;

    border-radius: 8px;

    margin: auto;

    margin-bottom: 5%;

    position: relative;
}

body {
    background: #F2F2F2;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: poppins;
}

@media all and (max-width: 600px) {
    .landingContainer {

        flex-direction: column;

        width: 100vw;

        padding: 14% 5% 0;

        box-sizing: border-box;

    }

    .textContainer p {

        padding-right: 5%;
    }

    .imageP {
        position: relative;
        left: 130px;
        top: -130px;
    }

    .imageContainer {

        /* transform: scale(0.5); */

        /* width: 200vw; */

        display: none;
    }

    .hmvContainer {

        padding-right: 5%;

        font-size: 0.8em;
    }

    body {
        width: auto;
    }
}